* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERALE */
body {
    font-family: "lato", sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

img {
    height: 50px;
    border-radius: 50%;
}

#root {
    background:linear-gradient(0deg, #e0e0e0 80%, #009688 20%);
    height: 100vh;
    padding: 20px 0;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
}

/* PARTE SINISTRA */
.column-sx {
    float: left;
    width: 35%;
    height: 100%;
}

    /* inizio sezione USER-BAR */
    .user-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        height: 70px;
        background-color: #e9e9e9;
    }

        .user-bar-sx{
            display: flex;
            align-items: center;
        }

        .user-bar-dx i {
            color: rgb(165, 165, 165);
            margin: 0 10px;
        }
    /* fine sezione USER-BAR */
    /* inizio sezione NOTIFICATIONS */
    .notifications {
        display: flex;
        align-items: center;
        font-size: 11px;
        height: 70px;
        padding-left: 10px;
        background-color: #8ed9fc;
    }

        .bell {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            font-size: 18px;
            color: #8EDAFC;
            background-color: rgba(255, 255, 255, 0.863);
        }

        .notifications a {
            color: gray;
        }
    /* inizio sezione NOTIFICATIONS */
    /* inizio sezione SEARCHBAR-CONTAINER */
    .searchbar-container {
        padding: 6px;
        background-color: #f8f8f8;
    }

        .searchbar {
            font-size: 11px;
            padding-left: 10px;
            width: 100%;
            height: 25px;
            border: none;
        }
    /* fine sezione SEARCHBAR-CONTAINER */
    /* inizio sezione CONTACTS-CONTAINER */
    .contacts-container {
        height: calc(100% - 177px);
        background-color: white;
        overflow-y: scroll;
    }

        .contact {
            display: flex;
            position: relative;
            height: 70px;
            padding: 9px;
            border-top: 2px solid #f8f8f8;
        }

        .contact:hover {
            background-color: #f8f8f8;
        }

        .contact:active {
            background-color: #e9e9e9;
        }

        .contact .text {
            margin-left: 20px;
            height: 100%;
            width: calc(100% - 70px);
        }

        .contact .preview {
            width: 60%;
            margin-top: 5px;
            font-size: 12px;
            color: rgb(165, 165, 165);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .contact .date {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 10px;
            color: rgb(165, 165, 165);
        }
    /* fine sezione CONTACTS-CONTAINER */
/* FINE PARTE SINISTRA */

/* PARTE DESTRA */
.column-dx {
    float: right;
    width: 65%;
    height: 100%;
}

    /* inizio sezione CONTACT-BAR */
    .contact-bar {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        height: 70px;
        background-color: #e9e9e9;
        border-left: 1px solid lightgray;
    }

        .contact-bar-sx, .contact-bar-dx {
            display: flex;
            align-items: center;
        }

            .contact-bar-sx .text {
                margin-left: 20px;
            }

            .contact-bar-sx .text .access {
                margin-top: 5px;
                color: rgb(165, 165, 165);
                font-size: 11px;
            }

            .contact-bar-dx i {
                color: rgb(165, 165, 165);
                margin: 0 10px;
            }
    /* fine sezione CONTACT-BAR */

    /* inizio sezione CHAT-CONTAINER */
    .chat-container {
        height: calc(100% - 140px);
        background-image: url(../img/mine.jpg);
        overflow-y: scroll;
        padding: 20px 30px 0 30px;
    }

    .visible-chat {
        display: flex;
        flex-direction: column;
    }

    .message-container {
        position: relative;
        min-width: 300px;
        margin-top: 10px;
        padding: 10px 10px 20px;
        border-radius: 10px;
        font-size: 14px;
    }

    .message-container .date {
        position: absolute;
        bottom: 5px;
        right: 10px;
        font-size: 11px;
        color: gray;
    }

    .message-container.sent{
        align-self: flex-end;
        background-color: rgb(186, 228, 186);
    }

    .message-container.received {
        align-self: flex-start;
        background-color: white;
    }
    /* fine sezione CHAT-CONTAINER */

    /* inizio sezione TYPE-BAR-CONTAINER */
    .type-bar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        padding: 10px 30px;
        background-color: #e9e9e9;
        border-left: 1px solid lightgray;
    }

        .type-bar {
            font-size: 11px;
            padding-left: 10px;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            border: none;
            margin: 0 20px;
        }

        .type-bar-container i {
            font-size: 20px;
            color: gray;
        }
    /* inizio sezione TYPE-BAR-CONTAINER */
/* FINE PARTE DESTRA */