<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>BoolZapp</title>
</head>
<body>
    <div id="root">
        <div class="container clearfix">
            <div class="column-sx">
                <section class="user-bar">
                    <div class="user-bar-sx">
                        <img src="img/avatar_io.jpg" alt="">
                        <span class="name">Amedeo</span>
                    </div>
                    <div class="user-bar-dx">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </section>
                <section class="notifications">
                    <span class="bell">
                        <i class="fas fa-bell-slash"></i>
                    </span>
                    <div>
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="">Attiva notifiche desktop</a>
                    </div>
                </section>
                <section class="searchbar-container">
                    <input type="text" name="" class="searchbar" placeholder="               Cerca o inizia una nuova chat">
                </section>
                <ul class="contacts-container">
                    <li v-for="(contact,index) in contacts" @click="setActiveContactIndex(index)" class="contact">
                        <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="">
                        <div class="text">
                            <span class="name">{{ contact.name }}</span>
                            <div class="preview">{{ contact.messages[contact.messages.length - 1].message }}</div>
                            <div class="date">{{ contact.messages[contact.messages.length - 1].date }}</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="column-dx">
                <section class="contact-bar">
                    <div class="contact-bar-sx">
                        <img :src="'img/avatar' + contacts[indexActiveContact].avatar + '.jpg'" alt="">
                        <div class="text">
                            <div class="name">
                                {{contacts[indexActiveContact].name}}
                            </div>
                            <div class="access">
                                Ultimo accesso oggi alle {{ contacts[indexActiveContact].messages[contacts[indexActiveContact].messages.length - 1].date }}
                            </div>
                        </div>
                    </div>
                    <div class="contact-bar-dx">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </section>
                <section class="chat-container">
                    <div  v-for="(message,index) in contacts[indexActiveContact].messages" :class="(message.status == 'sent')?'sent':'received'" class="message-container">
                        <div class="message">
                            {{message.message}}
                        </div>
                        <div class="date">  
                            {{message.date}}
                        </div>
                    </div>
                </section>
                <section class="type-bar-container">
                    <i class="far fa-smile-wink"></i>
                    <input type="text" class="type-bar" v-model="newMessage" @keyup.enter="sendNewMessage" placeholder="Scrivi un messaggio">
                    <i class="fas fa-microphone"></i>
                </section>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main.js"></script>
</body>
</html>